<h1><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h1>
<h2><%= @game.player_1.name %> Hit Points: <%= @game.player_1.health %></h2> 
<h2><%= @game.player_2.name %> Hit Points: <%= @game.player_2.health %></h2>
<a href='/attack'>Attack</a>